<h1>
  検索結果
</h1>
<input name= "result", type= "hidden", value: @results, class='result' > 
<div>
<%= link_to "ランダムに並び替え",root_path,id:"shuffle_que" %>
<%= link_to "id順を表示",root_path,id:"id_que" %>
</div >
<%# ランダム順 %>
<% if @results.length !=0 %>
  <div class = 'master_result', id = "master_result">
    <table class = 'id_result', id = 'id_result'>
      <tr><th>ページ数</th><th>問題</th><th>解答</th></tr>
      <% @results = @results.shuffle %> 
      <div >
        <% @results.each do |result| %>
          <td>
            <tr>
              <th class="detail-page"><%= result.page %></th>
              <th class="detail-question"><%= result.question %></th>
              <th class="detail-answer", id = 'id_answer'><%= result.answer %></th>
            </tr>
        <% end %>
      </div>
    </table>
  <%# id順 %>
   <table class = 'rand_result', id = 'rand-result'>
      <div >
        <tr><th>ページ数</th><th>問題</th><th>解答</th></tr>
        <% @results2.each do |result| %>
          <td>
              <tr>
                <th class="detail-page"><%= result.page %></th>
                <th class="detail-question"><%= result.question %></th>
                <th class="detail-answer", id = 'id_answer'><%= result.answer %></th>
              </tr>
        <% end %>
      </div>
    </table>
  </div>
<% else %>
  該当する商品はありません
<% end %>
<%= link_to 'トップページへ戻る', root_path %>